body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

h1, p {
    text-align: center;
    margin: 0;
    color: #1F2937;
}

h1 {
    font-size: 60px;
    color: #F59E0B;
}

p {
    font-size: 30px;
    margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 30px;
        color: #F59E0B;
    }
    
    p {
        font-size: 20px;
        margin-top: 20px;
    }
}